
body {
    width: 100%;
    height: 87.6vh;
    margin:0;
}
.backgroundWheel{
    width:100vw;
    height:78.7vh;
    background-image: url(./img/BackgroundPromoRoulette.jpg);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 5%;
} 

#navSami {
    background-color: black;
    width: 100%;
    height: 65px;
}
.titre{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}
/* Wheel of fortune */
.wheel{
    width: 70%x;
    height:70%;
    display: flex;
    justify-content: center;
    
}
.button {
    width: 10%;
    height: 5%;
    cursor: pointer;
    border-radius: 25px;
    box-shadow: 12px 12px 6px -25px rgba(255,192,178,.75), -12px -6px 6px 1px rgba(255,192,178,.75), 4px 4px 6px 1px rgba(255,192,178,.75);
    background-color: lightgray;
}
.button:hover {
    opacity: 0.9;
}


.blur {
    animation: blur 10s;
}
@keyframes blur {
    0% {
        filter: blur(1.5px);
    }
    80%{
        filter: blur(1.5px);
    }
    100%{
        filter:blur(0px);
    }
}
/*footer*/
#footSami{
    width: 100%;
    height: 65px;
    background-color: black;
}  